<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CollegePlanner</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/CollegePlanner/LoginRegister.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>ie.gmit.sw.Security.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Timetable</display-name>
    <servlet-name>Timetable</servlet-name>
    <servlet-class>ie.gmit.sw.Timetable.TimetableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Timetable</servlet-name>
    <url-pattern>/Timetable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToDoList</display-name>
    <servlet-name>ToDoList</servlet-name>
    <servlet-class>ie.gmit.sw.Todo.ToDoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToDoList</servlet-name>
    <url-pattern>/ToDoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modules</display-name>
    <servlet-name>Modules</servlet-name>
    <servlet-class>ie.gmit.sw.Modules.ModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modules</servlet-name>
    <url-pattern>/Modules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assignments</display-name>
    <servlet-name>Assignments</servlet-name>
    <servlet-class>ie.gmit.sw.Assignments.AssignmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assignments</servlet-name>
    <url-pattern>/Assignments</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Calendar</display-name>
    <servlet-name>Calendar</servlet-name>
    <servlet-class>ie.gmit.sw.Calendar.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calendar</servlet-name>
    <url-pattern>/Calendar</url-pattern>
  </servlet-mapping>
</web-app>