.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td > input {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.image-upload > input
{
    display: none;
}

.background{
	height: 100%;
	width: 100%;
	text-align: center;
	background: url("https://images.unsplash.com/3/doctype-hi-res.jpg")
		no-repeat center;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: absolute;
	left: 0;
	top: 0;
	background-size: cover;
}

